@model IEnumerable<LoginRegisterApp.Models.Showcases>
@{
    ViewData["Title"] = "Home Page";
    
}

<div id="pic-container">
        <img id="landing-pic" src="~/Images/landing-demo.png" alt="landing image">
    </div>
    <img src="~/Images/exactly-legal-horizontal.svg" alt="horizontal-banner" class="horizontal-entry">
    <img src="~/Images/exactly-legal-horizontal.svg" alt="horizontal-banner" class="horizontal-entry">
    <main>
        <h1 id="announcement-showcase">SHOWCASE</h1>
        <hr>
        <section id="showcase-horizontal">
            @foreach(var showcase in Model){
            <div id="script-showcase">
                <a asp-controller="Home" asp-action="ShowcaseRoute" asp-route-showcase="@showcase.ShowcaseUrl" id="script-href">
                    <img src="@showcase.ShowcasePhotoUrl" alt="ads banner image" id="showcase-img">
                    <div id="inner-container">
                        <h1 id="showcase-header">@showcase.ShowcaseHeader</h1>
                        <p id="showcase-text">@showcase.ShowcaseText</p>
                    </div>
                </a>
            </div>
            }
        </section>
        <h1 id="announcement-mini-showcase">MINI SHOWCASE</h1>
        <hr>
        <section id="mini-showcase">
            @foreach(var showcasemini in @Model){
                if(showcasemini.IsItMını){
            <div id="showcase-mini">
                <a asp-controller="Home" asp-action="Showcase" asp-route-showcase="@showcasemini.ShowcaseUrl"  id="showcase-href">
                    <img src="@showcasemini.ShowcasePhotoUrl" alt="mini-showcase picture banner" id="mini-showcase-img">
                    <h2 id="mini-showcase-header">@showcasemini.ShowcaseText"</h2>
                </a>
            </div>
           }
           }

        </section>